body {
    font-family: sans-serif;
}

pre {
    width: 100%;
    background-color: #eeeeee;
    padding: 0.5em;
    border: solid 1px #d0d0d0;
    font-family: monospace;
    margin-bottom: 1em;
}

.code > p {
    margin: 0;
}

.docs > div {
    margin-bottom: 2em;
}

.main-content {
    max-width: 550px;
    margin: auto;
}

.main-content header {
    margin: 2em auto;
    text-align: center;
}
