body {
    font-family: sans-serif;
}

#left {
    margin-right: 8em;
}

.main-content {
    max-width: 550px;
    margin: auto;
}

.main-content header {
    margin: 2em auto;
}

.main-content h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
}

.input-label-top {
    margin-top: 1.5em;
}

.label-top {
    position: absolute;
}
